/* Nav Bar Style
nav {
    position: fixed;
    background-color: #333;
    color: #fff;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    color: #ff9900;
}

Cards Style 
.product-card {
    width: 250px;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-card h3 {
    font-size: 18px;
}

.product-card p {
    font-size: 14px;
}

.product-card button {
    background-color: #ff9900;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
*/

body {
    font-family: 'Open Sans', 'Roboto', 'Montserrat','Arial Black', 'Gadget', sans-serif;;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav a:hover {
    color: #92f436;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.product-card {
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.product-card img {
    max-width: 100%;
    max-height: auto;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 20px;
    margin: 10px 0;
}

.product-card p {
    font-size: 16px;
    margin: 5px 0;
}

.product-card button {
    background-color: #92f436;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

.product-card button:hover {
    background-color: #92f436;
}